<!DOCTYPE html>
<html lang="en" ng-app="testApp">

<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 31 Oct 2017 23:49:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />

  <title>Assignment</title>

  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">

  <!-- librarys -->
  <script type="text/javascript" src="bootstrap/js/angular.js"></script>
  <script type="text/javascript" src="bootstrap/js/angular-route.js"></script>
  <script type="text/javascript" src="ngStorage/ngStorage.min.js"></script>

  <!-- scripts -->
  <script type="text/javascript" src="controller/application.js"></script>
  <script type="text/javascript" src="controller/controller.js"></script>
</head>

<body ng-controller="testController">
  <div ng-include="'page.html'">

  </div>
  <script src="bootstrap/js/jquery-3.2.1.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>